.main {
  max-width: 350px;
  margin: 20px auto;
}
ul.todo-list {
  list-style-type: none;
  padding: 0;
}
ul.todo-list li {
  margin: 10px 0;
}
input[type='checkbox'] {
  margin-right: 10px;
}
span.complete {
  text-decoration: line-through;
}
span.delete-btn {
  background-color: red;
  color: #fff;
  padding: 0px 3px;
  float: right;
}
span.delete-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.form-div {
  text-align: center;
}
.form-div input {
  width: 250px;
  padding: 1px 5px;
}
